body {
    background-color: khaki;
}

h1  {
    color: aqua;
}

#prnicipal {
    color: #46484c;
}

#boton {
    color: #fff;
    background-color: #025157;
}

.promocional {
    color: #8b8b8bcc;
}
