* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: khaki;
}

h1  {
    color: purple;
}

li {
    display: inline;
}

#prnicipal {
    color: #46484c;
}

#boton {
    color: #fff;
    background-color: #025157;
}

.promocional {
    color: darkblue;
}
